$main-color: #81FB37;

.search-section{
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
  width: fit-content;
  .search-input{
    width: 280px;
  }
  i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 18px;
  }
}

.brand-sliders{
  .brand-slide{
    box-shadow: 0 0 5px #ccc;
    width: 100%;
    height: 40px;
    display: inline-block;
    font-size: 12px;
    transition: all .3s;
    img{
      width: 30px;
    }
    &:hover{
      box-shadow: 0 0 5px $main-color;
      background-color: $main-color;
      font-weight: bold;
      color: #fff;
    }
  }
}

.brand-box {
  position: relative;
  overflow: visible; // مهم عشان الصورة تطلع برّه
  perspective: 1000px;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  img {
    display: block;
    width: 80px;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    z-index: 9999;
    // filter: drop-shadow(0 0 8px $main-color);
  }

  &:hover {
    // transform: translateZ(-60px) scale(0.3);
    // box-shadow: 0 0 15px $main-color;
    border-radius: 50%;
    img {
      transform: translateZ(120px) translateY(5px) rotateX(-20deg)
    }
  }
}
