<header class="">
  <div class="topbar">
    <div class="container-fluid">
      <div class="d-flex align-items-center gap-2 d-sm-none d-block text-center">
        <img src="assets/images/home-image/logo.avif" class="logo mx-auto cr" alt="xprs" routerLink="/home">
      </div>
      <div class="navbar-header">
        <div class="d-flex align-items-center gap-2">
          <div class="topbar-item">
            <button
              type="button"
              (click)="toggleMobileMenu()"
              class="button-toggle-menu topbar-button"
            >
              <i class="ri-menu-2-line fs-24"></i>
            </button>
          </div>

          <form class="app-search me-auto" autocomplete="off">
            <div class="position-relative">
              <input
                type="search"
                class="form-control border-0"
                placeholder="Search By Product..."
                [(ngModel)]="searchItem"
                (input)="onSearchChange()"
                name="search"
              />
              <i class="ri-search-line search-widget-icon"></i>

              @if(searchResults.length > 0){
                <div class="search-items-list bg-white position-absolute">
                  <ul class="list-unstyled m-0 py-2 d-flex flex-column gap-0">
                    <!-- <i class="ri-close-circle-line fs-1 text-end cr" (click)="closeSearch()"></i> -->
                    @for (item of searchResults; track $index) {
                      <li class="cr py-2 px-1" (click)="goToProduct(item.id)">
                        <div class="d-flex align-items-center gap-2">
                          @if(item.picture1){
                            <img class="image-item-search" [src]="item.picture1" [alt]="item.picture1_alt">
                          } @else {
                            <img class="image-item-search" src="assets/images/global-image/load.gif" [alt]="item.name">
                          }
                          <span>{{item.name}}</span>
                        </div>
                      </li>
                    }
                  </ul>
                </div>
              }

            </div>
          </form>

        </div>

        <div class="d-flex align-items-center gap-2 d-sm-block d-none">
          <img src="assets/images/home-image/logo.avif" class="logo cr" alt="xprs" routerLink="/home">
        </div>

        <div class="d-flex align-items-center gap-1">
           <div ngbDropdown #cartDrop="ngbDropdown" class="topbar-item">
            <button
              ngbDropdownToggle
              type="button"
              class="topbar-button position-relative arrow-none"
              id="page-header-notifications-dropdown"
            >
              @if(cartCount()){
                <span class="cart-count">{{ cartCount() }}</span>
              }
              <i class="ri-shopping-cart-line fs-24"></i>
              <!-- <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill">
                3
                <span class="visually-hidden">unread messages</span>
              </span> -->
            </button>
            <div ngbDropdownMenu class="py-0 cart-prodcuts-list dropdown-lg dropdown-menu-end" aria-labelledby="page-header-notifications-dropdown" >
              @for (item of cartProducts().slice(0.4); track $index) {
                <div class="cart-product-item py-2 px-1 d-flex align-items-center gap-2 border-top-0 border-start-0 border-end-0 border-dashed border" >
                  <div class="image-product">
                    <img [src]="item.product.picture1" [alt]="item.product.picture1_alt || item.product.name" loading="lazy">
                  </div>

                  <div class="details-product">
                    <h5 class="main-color">{{item.product.name}}</h5>
                    <p class="m-0 fw-bold">Price : {{item.product.price | number}} EGP</p>
                  </div>
                </div>
              }

              <div class="btn-buy my-2 text-center">
                @if(cartProducts().length > 4){
                  <p class="m-0 mb-1">Show More Products In Cart</p>
                }
                @if(cartProducts().length){
                  <button class="btn btn-outline-success p-0 px-2 py-1 fw-bold" (click)="goToCart(cartDrop)">Go To Cart</button>
                } @else {
                  Cart Is Empty
                }
              </div>

              <!-- <ngx-simplebar style="max-height: 280px">
                @for (item of notificationList; track $index) {
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item py-3 border-bottom text-wrap"
                  >
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        @if (item.icon) {
                          <img
                            [src]="item.icon"
                            class="img-fluid me-2 avatar-sm rounded-circle"
                            alt="avatar-1"
                          />
                        } @else {
                          <div class="avatar-sm me-2">
                            <span
                              class="avatar-title bg-soft-info text-info fs-20 rounded-circle"
                            >
                              {{ item.from.charAt(0) }}
                            </span>
                          </div>
                        }
                      </div>
                      <div class="flex-grow-1">
                        <p class="mb-0">
                          <span class="fw-medium">{{ item.from }} </span>
                          <span>{{ item.content }}</span>
                        </p>
                      </div>
                    </div>
                  </a>
                }
              </ngx-simplebar>
              <div class="text-center py-3">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                  >View All Notification <i class="ri-arrow-right-line ms-1"></i
                ></a>
              </div> -->

            </div>
          </div>

          <div ngbDropdown class="topbar-item">
            <button
              ngbDropdownToggle
              type="button"
              class="topbar-button position-relative arrow-none"
              id="page-header-notifications-dropdown"
            >
              <i class="ri-user-line fs-24"></i>
              <!-- <span class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill">
                3
                <span class="visually-hidden">unread messages</span>
              </span> -->
            </button>
            <div ngbDropdownMenu class="py-0 dropdown-lg dropdown-menu-end" aria-labelledby="page-header-notifications-dropdown" >
              <div class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border" >
                <div class="login-btn">
                  <span class="mb-1 d-inline-block">Welcome! Please log in</span>
                  <div class="btn btn-success w-100">Login</div>
                </div>
                <div class="signup-btn mt-2">
                  <span class="mb-1 d-inline-block">You Don't Have Acc ?</span>
                  <div class="btn btn-success w-100">SignUp</div>
                </div>

                <!-- <div class="row align-items-center">
                  <div class="col">
                    <h6 class="m-0 fs-16 fw-semibold">Notifications</h6>
                  </div>
                  <div class="col-auto">
                    <a
                      href="javascript: void(0);"
                      class="text-dark text-decoration-underline"
                    >
                      <small>Clear All</small>
                    </a>
                  </div>
                </div> -->
              </div>
              <!-- <ngx-simplebar style="max-height: 280px">
                @for (item of notificationList; track $index) {
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item py-3 border-bottom text-wrap"
                  >
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        @if (item.icon) {
                          <img
                            [src]="item.icon"
                            class="img-fluid me-2 avatar-sm rounded-circle"
                            alt="avatar-1"
                          />
                        } @else {
                          <div class="avatar-sm me-2">
                            <span
                              class="avatar-title bg-soft-info text-info fs-20 rounded-circle"
                            >
                              {{ item.from.charAt(0) }}
                            </span>
                          </div>
                        }
                      </div>
                      <div class="flex-grow-1">
                        <p class="mb-0">
                          <span class="fw-medium">{{ item.from }} </span>
                          <span>{{ item.content }}</span>
                        </p>
                      </div>
                    </div>
                  </a>
                }
              </ngx-simplebar>
              <div class="text-center py-3">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                  >View All Notification <i class="ri-arrow-right-line ms-1"></i
                ></a>
              </div> -->
            </div>
          </div>

          <div class="topbar-item">
            <button
              type="button"
              class="topbar-button"
              (click)="changeTheme()"
              id="light-dark-mode"
            >
              <i class="ri-moon-line fs-24 light-mode"></i>
              <i class="ri-sun-line fs-24 dark-mode"></i>
            </button>
          </div>

          <!-- <div class="dropdown topbar-item d-none d-lg-flex">
            <button
              type="button"
              class="topbar-button"
              (click)="fullscreen()"
              data-toggle="fullscreen"
            >
              <i class="ri-fullscreen-line fs-24 fullscreen"></i>
              <i class="ri-fullscreen-exit-line fs-24 quit-fullscreen"></i>
            </button>
          </div> -->

          <!-- <div ngbDropdown class="topbar-item">
            <button
              ngbDropdownToggle
              type="button"
              class="topbar-button position-relative arrow-none"
              id="page-header-notifications-dropdown"
            >
              <i class="ri-notification-3-line fs-24"></i>
              <span
                class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill"
                >3<span class="visually-hidden">unread messages</span></span
              >
            </button>
            <div
              ngbDropdownMenu
              class="py-0 dropdown-lg dropdown-menu-end"
              aria-labelledby="page-header-notifications-dropdown"
            >
              <div
                class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border"
              >
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="m-0 fs-16 fw-semibold">Notifications</h6>
                  </div>
                  <div class="col-auto">
                    <a
                      href="javascript: void(0);"
                      class="text-dark text-decoration-underline"
                    >
                      <small>Clear All</small>
                    </a>
                  </div>
                </div>
              </div>
              <ngx-simplebar style="max-height: 280px">
                @for (item of notificationList; track $index) {
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item py-3 border-bottom text-wrap"
                  >
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        @if (item.icon) {
                          <img
                            [src]="item.icon"
                            class="img-fluid me-2 avatar-sm rounded-circle"
                            alt="avatar-1"
                          />
                        } @else {
                          <div class="avatar-sm me-2">
                            <span
                              class="avatar-title bg-soft-info text-info fs-20 rounded-circle"
                            >
                              {{ item.from.charAt(0) }}
                            </span>
                          </div>
                        }
                      </div>
                      <div class="flex-grow-1">
                        <p class="mb-0">
                          <span class="fw-medium">{{ item.from }} </span>
                          <span>{{ item.content }}</span>
                        </p>
                      </div>
                    </div>
                  </a>
                }
              </ngx-simplebar>
              <div class="text-center py-3">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                  >View All Notification <i class="ri-arrow-right-line ms-1"></i
                ></a>
              </div>
            </div>
          </div> -->

          <!-- <div class="topbar-item d-none d-md-flex">
            <button
              type="button"
              class="topbar-button"
              id="theme-settings-btn"
              (click)="settingMenu()"
            >
              <i class="ri-settings-4-line fs-24"></i>
            </button>
          </div> -->

          <!-- <div ngbDropdown class="topbar-item">
            <a
              ngbDropdownToggle
              type="button"
              class="topbar-button arrow-none"
              id="page-header-user-dropdown"
            >
              <span class="d-flex align-items-center">
                <img
                  class="rounded-circle"
                  width="32"
                  src="assets/images/users/avatar-1.jpg"
                  alt="avatar-3"
                />
              </span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-end">
              <h6 class="dropdown-header">Welcome Gaston!</h6>

              <a class="dropdown-item" routerLink="/pages/calendar">
                <i class="bx bx-calendar align-middle me-2 fs-18"></i
                ><span class="align-middle">My Schedules</span>
              </a>

              <a class="dropdown-item" routerLink="/pages/pricing">
                <i class="bx bx-wallet-alt align-middle me-2 fs-18"></i
                ><span class="align-middle">Pricing</span>
              </a>
              <a class="dropdown-item" routerLink="/pages/faqs">
                <i class="bx bx-help-circle align-middle me-2 fs-18"></i
                ><span class="align-middle">Help</span>
              </a>
              <a class="dropdown-item" routerLink="/auth/lock-screen">
                <i class="bx bx-lock align-middle me-2 fs-18"></i
                ><span class="align-middle">Lock screen</span>
              </a>

              <div class="dropdown-divider my-1"></div>

              <a class="dropdown-item text-danger" (click)="logout()">
                <i class="bx bx-log-out align-middle me-2 fs-18"></i
                ><span class="align-middle">Logout</span>
              </a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>
