$main-color: #81FB37;

.btn-checkout .checkout{
  background-color: $main-color;
  outline:none;
  color: #fff;
  &:hover, &:focus{
    background-color: $main-color;
    color: #fff;
  }
}
.product-image{
  width: 100%;
}

@media (max-width:768px) {
  .product-image{
    width: 200px;
  }
}

@media (max-width:768px) {
  .product-image{
    width: 200px;
  }
}
.availability{
  top: 25px;
  left: -40px;
  transform: rotate(-40deg);
}
.payment-image{
  width: 50px;
}
