$main-color: #81FB37;

.swiper{
  height: 100%;
  swiper-slide{
    width: 100%;
    height: 100%;
    .swiper-slide {
      transition: none;
    }
    img{
      width: 100%;
      height: 100%;
      // filter: drop-shadow(0 0 10px $main-color);
    }
  }
}

.banner-swiper{
  height: 70vh;
  img{
    width: 100%;
  }
}

@media (max-width:567px) {
  .banner-swiper{
    height: 38vh;
  }
}

.cat-slide {
  position: relative;
  // overflow: visible;
  perspective: 1000px;
  transition: all 0.5s;
  padding: 10px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
    z-index: 9999;
  }

  &:hover {
    // transform: translateZ(-60px) scale(0.3);
    // box-shadow: 0 0 15px $main-color;
    img {
      transform: translateZ(80px) translateY(-5px) rotateX(10deg)
    }
  }
}
h6{
  font-size: 12px;
}
.price{
  font-size: 12px;
}
.details-link{
  font-size: 10px;
}
// .cat-slide {
//   &:hover {
//     transform: translateZ(-60px) scale(0.9);
//     box-shadow: 0 0 15px $main-color;
//     img {
//       transform: translateZ(140px) translateY(8px) rotateY(0) rotateX(0) scale(1.3)
//     }
//   }
// }

.swiper.brand-slider{
  .brand-cart{
    transition: all .5s ease;
    img{
      transition: all .5s ease;
      &.brand-img{
        width: 80px !important;
        margin: 0 -10px;
      }
    }


    // &:hover{
    //   box-shadow: 0 0 10px $main-color;
    //   border-radius: 50%;
    //   img{
    //     filter: drop-shadow(0 0 10px $main-color) !important;
    //   }
    // }
  }
}

.swiper.special-slider{
  .offer-cart{
    transition: all .5s ease;
    img{
      transition: all .5s ease;
      filter: none !important;
    }

    &:hover{
      box-shadow: 0 0 10px $main-color;
    }
  }
}

.offer-img{
  width: 100%;
  height:200px !important;
  object-fit: contain;
}

@media (max-width:567px) {
  .cat-slide {
    img{
      margin: 0 auto;
      width: 75% !important;
    }
  }
}
