<section class="home">
  <!-- Home Slider-->
  <div class="row g-1">
    <div class="col-12">
      <div class="swiper banner-swiper">
        <swiper-container [config]="swiperfadeEffect" init="false" class="swiper-wrapper" >
          <swiper-slide class="swiper-slide">
            <img src="assets/images/home-image/home-banner-1.webp" alt="xprs" class="img-fluid" />
          </swiper-slide>

          <swiper-slide class="swiper-slide">
            <img src="assets/images/home-image/home-banner-2.webp" alt="xprs" class="img-fluid" />
          </swiper-slide>

          <swiper-slide class="swiper-slide">
            <img src="assets/images/home-image/home-banner-3.avif" alt="xprs" class="img-fluid" />
          </swiper-slide>

          <swiper-slide class="swiper-slide">
            <img src="assets/images/home-image/home-banner-4.webp" alt="xprs" class="img-fluid" />
          </swiper-slide>
        </swiper-container>
        <div id="effect-pagination" class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <!-- Home Content-->
  <div class="content container">
    <!-- Categories Slider -->
    <div class="swiper category-slider mt-4">
      <h2 class="m-0 main-color fw-bold wow animate__animated animate__fadeInUp">Categories</h2>
      <swiper-container [config]="swiperPagination" init="false" class="swiper-wrapper">
        @for (cat of categories; track $index) {
          <swiper-slide class="rounded-4 wow animate__animated animate__fadeInUp my-3 cr h-100" [style.animationDelay]="($index * 0.2) + 's'" >
            <div class="cat-slide bg-black rounded-4 h-100" [routerLink]="'/category/' + cat.id">
              <img
                [routerLink]="'/products/' + cat.id"
                [src]="cat.picture"
                [alt]="cat.name"
                lazyLoad="lazy"
                class="img-fluid rounded-4"
              />
            </div>
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-button-next basic-next"></div>
      <div class="swiper-button-prev basic-prev"></div>
      <!-- <div class="swiper-pagination basic-pagination" id="basic-pagination" ></div> -->
    </div>

    <!-- Brand Slider -->
    <div class="swiper brand-slider mt-4">
      <h2 class="m-0 main-color fw-bold wow animate__animated animate__fadeInUp">Brands</h2>
      <swiper-container [config]="swiperPaginationBrands" init="false" class="swiper-wrapper">
        @for (brand of brands; track $index) {
          <swiper-slide class="rounded-4 text-center wow animate__animated animate__fadeInUp my-3 cr h-100" [style.animationDelay]="($index * 0.2) + 's'" >
            <div class="brand-cart p-3 h-100" [routerLink]="'/brand/' + brand.name">
              @if(brand.picture){
                <img
                  [routerLink]="'/brand/' + brand.name"
                  [src]="brand.picture"
                  [alt]="brand.name"
                  lazyLoad="lazy"
                  class="rounded-4"
                />
              } @else {
                <img
                  [routerLink]="'/brand/' + brand.name"
                  src="assets/images/global-image/load.gif"
                  [alt]="brand.name"
                  lazyLoad="lazy"
                  class="brand-img rounded-4 d-inline-block"
                />
              }

            </div>
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-button-next basic-next"></div>
      <div class="swiper-button-prev basic-prev"></div>
      <!-- <div class="swiper-pagination basic-pagination" id="basic-pagination" ></div> -->
    </div>

    <!-- Speicals Offers -->
    <div class="swiper special-slider mt-4">
      <h2 class="m-0 main-color fw-bold wow animate__animated animate__fadeInUp">{{specialOffers.title}}</h2>
      <swiper-container [config]="swiperPaginationEssentials" init="false" class="swiper-wrapper">
        @for (item of specialOffers?.products; track $index) {
          <swiper-slide class="rounded-4 text-center wow animate__animated animate__fadeInUp my-3 h-100 px-1" [style.animationDelay]="($index * 0.2) + 's'" >
            <div class="card offer-cart overflow-hidden">
              <div class="position-relative">
                <img [src]="item?.picture1" [alt]="item?.picture1_alt" class="offer-img rounded-0"/>
                <!-- <img [src]="item?.picture2 ? item?.picture2 : item?.picture1" [alt]="item?.picture1_alt" class="offer-img rounded-0" />
                <img [src]="item?.picture3 ? item?.picture3 : item?.picture3" [alt]="item?.picture1_alt" class="offer-img rounded-0" /> -->
                <span class="position-absolute d-flex flex-column gap-1 top-0 start-0 p-1">
                  @if (item?.availability == 'In Stock') {
                    <button
                      type="button"
                      class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                      (click)="addToFavorite(item)"
                      [ngClass]="{
                        'btn-success' : isFavorite(item),
                        'bg-light text-success': !isFavorite(item)
                      }"
                    >
                      <i class="main-color"
                        [ngClass]="{
                          'ri-heart-2-fill': isFavorite(item),
                          'ri-heart-2-line': !isFavorite(item)
                        }"></i>
                    </button>

                    <button
                      type="button"
                      class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                      (click)="addToCart(item)"
                      [ngClass]="{
                        'btn-success' : isCart(item),
                        'bg-light text-success': !isCart(item)
                      }"
                    >
                      <i class="main-color"
                        [ngClass]="{
                          'ri-shopping-cart-fill': isCart(item),
                          'ri-shopping-cart-line': !isCart(item)
                        }"></i>
                    </button>
                  }
                </span>
                <span class="position-absolute top-0 end-0 p-1">
                  @if(item?.availability != 'In Stock'){
                    <span class="badge bg-danger text-white fs-13">
                      Sold Out
                    </span>
                  } @else{
                    <span class="badge bg-success text-white fs-13">
                      In Stock
                    </span>
                  }
                </span>
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center gap-2">
                  <div class="text-start">
                    <h6 class="text-dark fs-13 fw-bold">{{ item.name.slice(0,30) }}...</h6>
                    <!-- <p class="text-muted mb-0">{{ item.location }}</p> -->
                  </div>
                </div>
              </div>
              <div class="card-footer bg-light-subtle d-flex justify-content-between align-items-center border-top" >
                <p class="fw-medium fs-13 mb-0 main-color">
                  {{ item.price | number }} EGP
                </p>

                <span class="fs-10 cr" [routerLink]="'/product/' + item.id">
                  Show Details <i class="ri-arrow-right-line align-middle"></i>
                </span>

              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-button-next basic-next"></div>
      <div class="swiper-button-prev basic-prev"></div>
      <!-- <div class="swiper-pagination basic-pagination" id="basic-pagination" ></div> -->
    </div>

    <!-- Essentials -->
    <div class="swiper special-slider mt-4">
      <h2 class="m-0 main-color fw-bold wow animate__animated animate__fadeInUp">{{specialEssentials.title}}</h2>
      <swiper-container [config]="swiperPaginationEssentials" init="false" class="swiper-wrapper">
        @for (item of specialEssentials?.products; track $index) {
          <swiper-slide class="rounded-4 text-center wow animate__animated animate__fadeInUp my-3 h-100 px-1" [style.animationDelay]="($index * 0.2) + 's'" >
            <div class="card offer-cart overflow-hidden">
              <div class="position-relative">
                <img [src]="item?.picture1" [alt]="item?.picture1_alt" class="offer-img rounded-0" />
                <!-- <img [src]="item?.picture2 ? item?.picture2 : item?.picture1" [alt]="item?.picture1_alt" class="offer-img rounded-0" />
                <img [src]="item?.picture3 ? item?.picture3 : item?.picture3" [alt]="item?.picture1_alt" class="offer-img rounded-0" /> -->
                <span class="position-absolute d-flex flex-column gap-1 top-0 start-0 p-1">
                  @if (item?.availability == 'In Stock') {
                    <button
                      type="button"
                      class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                      (click)="addToFavorite(item)"
                      [ngClass]="{
                        'btn-success' : isFavorite(item),
                        'bg-light text-success': !isFavorite(item)
                      }"
                    >
                      <i class="main-color"
                        [ngClass]="{
                          'ri-heart-2-fill': isFavorite(item),
                          'ri-heart-2-line': !isFavorite(item)
                        }"></i>
                    </button>

                    <button
                      type="button"
                      class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                      (click)="addToCart(item)"
                      [ngClass]="{
                        'btn-success' : isCart(item),
                        'bg-light text-success': !isCart(item)
                      }"
                    >
                      <i class="main-color"
                        [ngClass]="{
                          'ri-shopping-cart-fill': isCart(item),
                          'ri-shopping-cart-line': !isCart(item)
                        }"></i>
                    </button>
                  }
                </span>
                <span class="position-absolute top-0 end-0 p-1">
                  @if(item?.availability != 'In Stock'){
                    <span class="badge bg-danger text-white fs-13">
                      Sold Out
                    </span>
                  } @else{
                    <span class="badge bg-success text-white fs-13">
                      In Stock
                    </span>
                  }
                </span>
              </div>
              <div class="card-body">
                <div class="d-flex align-items-center gap-2">
                  <div class="text-start">
                    <h6 class="text-dark fw-medium fs-13">{{ item.name.slice(0,40) }}...</h6>
                    <!-- <p class="text-muted mb-0">{{ item.location }}</p> -->
                  </div>
                </div>
                <!-- <div class="row mt-2 g-2">
                  <div class="col-lg-4 col-4">
                    <span class="badge bg-light-subtle text-muted border fs-12">
                      <span class="fs-16"
                        ><iconify-icon
                          icon="solar:bed-broken"
                          class="align-middle"
                        ></iconify-icon
                      ></span>
                      {{ item.beds }} Beds
                    </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <span class="badge bg-light-subtle text-muted border fs-12">
                      <span class="fs-16"
                        ><iconify-icon
                          icon="solar:bath-broken"
                          class="align-middle"
                        ></iconify-icon
                      ></span>
                      {{ item.bath }} Bath
                    </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <span class="badge bg-light-subtle text-muted border fs-12">
                      <span class="fs-16"
                        ><iconify-icon
                          icon="solar:scale-broken"
                          class="align-middle"
                        ></iconify-icon
                      ></span>
                      {{ item.size }}ft
                    </span>
                  </div>
                  <div class="col-lg-4 col-4">
                    <span class="badge bg-light-subtle text-muted border fs-12">
                      <span class="fs-16"
                        ><iconify-icon
                          icon="solar:double-alt-arrow-up-broken"
                          class="align-middle"
                        ></iconify-icon
                      ></span>
                      {{ item.flor }} Floor
                    </span>
                  </div>
                </div> -->
              </div>
              <div class="card-footer bg-light-subtle d-flex justify-content-between align-items-center border-top" >
                <p class="fw-medium fs-13 mb-0 main-color">
                  {{ item.price | number }} EGP
                </p>

                <span class="fs-10 cr" [routerLink]="'/product/' + item.id">
                  Show Details <i class="ri-arrow-right-line align-middle"></i>
                </span>

              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-button-next basic-next"></div>
      <div class="swiper-button-prev basic-prev"></div>
      <!-- <div class="swiper-pagination basic-pagination" id="basic-pagination" ></div> -->
    </div>

    <!-- Selling -->
    <!-- @if (specialSelling?.products.length > 0) {
      <div class="swiper special-slider mt-4">
        <h2 class="m-0 main-color fw-bold wow animate__animated animate__fadeInUp">{{specialSelling.title}}</h2>
        <swiper-container [config]="swiperPaginationEssentials" init="false" class="swiper-wrapper">
          @for (item of specialSelling?.products; track $index) {
            <swiper-slide
              class="rounded-4 text-center wow animate__animated animate__fadeInUp my-3 cr h-100 px-1"
              [style.animationDelay]="($index * 0.2) + 's'"
            >
              <div class="card offer-cart overflow-hidden">
                <div class="position-relative">
                  <img [src]="item?.picture1" [alt]="item?.picture1_alt" class="offer-img rounded-0" />
                  <span class="position-absolute d-flex flex-column gap-1 top-0 start-0 p-1">
                  @if (item?.availability == 'In Stock') {
                    <button
                      type="button"
                      class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                      (click)="addToFavorite(item)"
                      [ngClass]="{
                        'btn-success' : isFavorite(item),
                        'bg-light text-success': !isFavorite(item)
                      }"
                    >
                      <i class="main-color"
                        [ngClass]="{
                          'ri-heart-2-fill': isFavorite(item),
                          'ri-heart-2-line': !isFavorite(item)
                        }"></i>
                    </button>

                    <button
                      type="button"
                      class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                      (click)="addToCart(item)"
                      [ngClass]="{
                        'btn-success' : isCart(item),
                        'bg-light text-success': !isCart(item)
                      }"
                    >
                      <i class="main-color"
                        [ngClass]="{
                          'ri-shopping-cart-fill': isCart(item),
                          'ri-shopping-cart-line': !isCart(item)
                        }"></i>
                    </button>
                  }
                  </span>
                  <span class="position-absolute top-0 end-0 p-1">
                    @if(item?.availability != 'In Stock'){
                      <span class="badge bg-danger text-white fs-13">
                        Sold Out
                      </span>
                    } @else{
                      <span class="badge bg-success text-white fs-13">
                        In Stock
                      </span>
                    }
                  </span>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center gap-2">
                    <div class="text-start">
                      <h6 class="text-dark fw-medium fs-13">{{ item.name.slice(0,40) }}...</h6>
                    </div>
                  </div>
                </div>
                <div class="card-footer bg-light-subtle d-flex justify-content-between align-items-center border-top" >
                  <p class="fw-medium fs-13 mb-0 main-color">
                    {{ item.price | number }} EGP
                  </p>

                  <span class="fs-10" [routerLink]="'/product/' + item.id">
                    Show Details <i class="ri-arrow-right-line align-middle"></i>
                  </span>

                </div>
              </div>
            </swiper-slide>

            }
        </swiper-container>
        <div class="swiper-button-next basic-next"></div>
        <div class="swiper-button-prev basic-prev"></div>
      </div>
    } -->
  </div>
</section>
