<section class="products py-3" id="products">
  <div class="container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-md-5">
        <div class="gallery border p-2 rounded bg-white position-relative">
          <!-- Main Image -->
          @if (mainImage) {
            <div class="main-image">
              <img [src]="mainImage.src" [alt]="mainImage.alt" />
            </div>
          }

          <!-- Navigation Arrows -->
          <button class="prev" (click)="prevImage()">&#10094;</button>
          <button class="next" (click)="nextImage()">&#10095;</button>
        </div>

        <!-- Thumbnails -->
        <div class="thumbnails mt-2 d-flex gap-2">
          @for (img of productImages; track $index) {
            <img
              [src]="img?.src"
              [alt]="img?.alt"
              [class.active]="$index === mainIndex"
              (click)="changeMain($index)"
            />
          }

        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <h3 class="card-title text-black fs-22 mb-2">{{ productData?.name }}</h3>
                <h4 class="card-title mb-2">{{ productData?.category?.name }}</h4>
                @if(productData?.availability == "Out Of Stock"){
                  <span class="badge badge-outline-danger">{{productData?.availability}}</span>
                } @else if(productData?.availability == 'In Stock') {
                  <span class="badge badge-outline-success">{{productData?.availability}}</span>
                }

                <!-- Rate -->
                @if(productData?.reviews?.length != 0){
                  @if(productData?.no_of_rating){
                    <div class="d-flex align-items-center mt-2">
                      @for ( rate of [].constructor(productData?.no_of_rating); track $index) {
                        <i class="fa-solid fa-star stars"></i>
                      }
                    </div>
                  }
                  <div class="d-flex align-items-center mt-2">
                    @for ( rate of [].constructor(5 - productData?.no_of_rating); track $index) {
                      <i class="fa-regular fa-star stars"></i>
                    }
                    <span>({{productData?.reviews?.length}} Reviews)</span>
                  </div>
                }

                <!-- Price -->
                <div class="price">
                  <p class="fw-medium fs-16 mt-1">
                    Price: <br>
                    @if(productData?.old_price){
                      <span class="old-price me-1">{{ productData?.old_price | number}} EGP</span>
                    }
                    <span class="main-color fw-bold fs-3">{{ productData?.price | number}} EGP</span>
                  </p>
                  @if(productData?.old_price){
                    <p class="save-money">
                      Save {{productData?.old_price - productData?.price | number}} EGP
                    </p>
                  }

                  @if(productData?.price_for_installments != 0 && productData?.price_for_installments){
                    <p>or from {{productData?.price_for_installments }}/{{productData?.month_for_instalment}} mo</p>
                  }

                  @if(productData?.price_for_installments == 0 && productData?.price_for_installments){
                    <p>or from {{productData?.price_for_instalment }}/{{productData?.month_for_instalment}} mo</p>
                  }
                </div>

                <!-- Quantity -->
                <div class="product-quantity mt-2">
                  <label class="span_bold mb-1 d-block">Quantity:</label>
                  <div class="quantity-selector d-flex align-items-center gap-2">
                    <!-- زر النقصان -->
                    <button type="button" (click)="decreaseQuantity()" [disabled]="quantity <= 1" class="btn count-btn">-</button>

                    <!-- حقل العدد -->
                    <input type="number" [(ngModel)]="quantity" min="1" class="form-control text-center" />

                    <!-- زر الزيادة -->
                    <button type="button" (click)="increaseQuantity()" class="btn count-btn">+</button>
                  </div>
                </div>

                <!-- Notify Me Section -->
                @if(productData?.availability == "Out Of Stock"){
                  @if(out_of_stock){
                    <div class="notify mt-2">
                      <div class="form-check form-checkbox-success mb-2">
                        <input [checked]="notify_checked" (change)="notifyMe($event)" data-bs-toggle="modal" data-bs-target="#exampleModal" type="checkbox" class="form-check-input" id="customCheckcolor2" checked>
                        <label class="form-check-label" [class.main-color]="notify_checked" for="customCheckcolor2">Notify Me!</label>
                      </div>

                      <p>
                        This product is currently out of stock.
                        {{ notify_checked ? 'You will be notified once it is back in stock.' : 'Click to get notified once it is back.' }}
                      </p>
                    </div>
                  }
                }

                <!-- Payment Way -->
                <div class="Payment Way">
                  <div class="btns d-flex flex-wrap justify-content-center align-items-center gap-2 mt-2">
                    <!-- Full Price -->
                    @if(!productData?.is_preorder){
                      <button class="btn text-center flex-fill" type="button"
                        [ngClass]="{
                          'btn-outline': openSection !== 'fullPrice',
                          'main-btn text-white': openSection === 'fullPrice'
                        }"
                        (click)="toggleSection('fullPrice')"
                        [attr.aria-expanded]="openSection === 'fullPrice'">
                        Full Price
                      </button>
                    }

                    <!-- Installments -->
                    <button class="btn text-center flex-fill" type="button"
                      [ngClass]="{
                        'btn-outline': openSection !== 'installments',
                        'main-btn text-white': openSection === 'installments'
                      }"
                      (click)="toggleSection('installments'); choosePaymentType('installments')"
                      [attr.aria-expanded]="openSection === 'installments'">
                      Installments
                    </button>

                    <!-- Pre Order -->
                    @if(productData?.is_preorder){
                      <button class="btn text-center flex-fill" type="button"
                        [ngClass]="{
                          'btn-outline': openSection !== 'preOrder',
                          'main-btn text-white': openSection === 'preOrder'
                        }"
                        (click)="toggleSection('preOrder')"
                        [attr.aria-expanded]="openSection === 'preOrder'">
                        Pre Order
                      </button>
                    }

                    <!-- Pay Later -->
                    <button class="btn text-center text-white flex-fill" type="button"
                      [ngClass]="{
                        'btn-outline': openSection !== 'payLater',
                        'main-btn text-white': openSection === 'payLater'
                      }"
                      (click)="toggleSection('payLater'); choosePaymentType('payLater')"
                      [attr.aria-expanded]="openSection === 'payLater'">
                      Pay Later
                    </button>
                  </div>


                  <div class="content">
                    <!-- Full Price Content-->
                    <div [ngbCollapse]="openSection !== 'fullPrice'" class="mt-2">
                      <!-- <div class="card card-body">
                        <p>Total price to pay immediately: <strong>$1000</strong></p>
                        <p>Includes all taxes and fees.</p>
                      </div> -->
                    </div>

                    <!-- Installments Content-->
                    @if(banksInstallment?.length != 0){
                      <div [ngbCollapse]="openSection !== 'installments'" class="mt-2">
                        <div class="card card-body">
                          @if(payment_type == 'installments'){
                            <p>{{installmentMsg}}</p>
                            <div class="banks">
                              @for (b of filtered_banks; track $index) {
                                @if(!b.hidden && !b.pay_later){
                                  <div class="d-flex align-items-center">
                                    <input
                                      type="radio"
                                      name="method"
                                      [value]="b.bank_key"
                                      [id]="b.bank_key"
                                      [(ngModel)]="bank"
                                      (change)="calculate(down,b.months[0]?.installment_months,bank, b.months[0]?.interest)"
                                    />
                                    <label class="new-bank" [for]="b.bank_key">
                                      <img [src]="b.logo" [alt]="b.bank_key" [title]="b.bank_key" class="w-25">
                                    </label>
                                  </div>
                                }
                              }
                            </div>
                          }

                          @for ( b of filtered_banks; track $index) {
                            @if(bank == b.bank_key){
                              @for (m of b.months; track $index) {
                                <div class="d-flex align-items-center">
                                  <input
                                    type="radio"
                                    name="install"
                                    [(ngModel)]="install"
                                    [value]="m.installment_months"
                                    [id]="'month_' + m.installment_months"
                                    (change)="calculate(down,install,bank,m.interest)"
                                  />
                                  <label [for]="'month_' + m.installment_months">
                                    {{m.installment_months}} months
                                  </label>
                                </div>
                              }
                            }
                          }
                        </div>
                      </div>
                    }


                    <!-- Pre Order Content-->
                    <div [ngbCollapse]="openSection !== 'preOrder'" class="mt-2">
                      <div class="card card-body">
                        <p>Pay after 30 days: <strong>$1000</strong></p>
                        <p>No interest if paid within the period.</p>
                      </div>
                    </div>

                    <!-- Pay Later Content-->
                    <div [ngbCollapse]="openSection !== 'payLater'" class="mt-2">
                      <div class="card card-body">
                        <p>Pay later with any bank card</p>
                        @for (b of filtered_banks; track $index) {
                          @if(!b.hidden && !b.pay_later){
                            <div class="d-flex align-items-center">
                              <input
                                type="radio"
                                name="method"
                                [value]="b.bank_key"
                                [id]="b.bank_key"
                                [(ngModel)]="bank"
                                (change)="calculate(down,b.months[0]?.installment_months,bank, b.months[0]?.interest)"
                              />
                              <label class="new-bank" [for]="b.bank_key">
                                <img [src]="b.logo" [alt]="b.bank_key" [title]="b.bank_key" class="w-25">
                              </label>
                            </div>
                          }
                        }
                        @if (bank != 9999) {
                          @for ( b of filtered_banks; track $index) {
                            @if(bank == b.bank_key){
                              @for (m of b.months; track $index) {
                                <div class="d-flex align-items-center">
                                  <input
                                    type="radio"
                                    name="install"
                                    [(ngModel)]="install"
                                    [value]="m.installment_months"
                                    [id]="'month_' + m.installment_months"
                                    (change)="calculate(down,install,bank,m.interest)"
                                  />
                                  <label [for]="'month_' + m.installment_months">
                                    {{m.installment_months}} months
                                  </label>
                                </div>
                              }
                            }
                          }

                          <!-- Price -->
                          <div class="price bottom lh mb-3 mt-2">
                            @if(oldDownPrice){
                              <span class="p"><sup>EGP</sup>{{quantity * oldDownPrice || 0 | number}} </span>
                            } @else {
                              <span class="p"><sup>EGP</sup>{{quantity * downPrice || 0 | number}} </span>
                            }
                          </div>
                        }
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
            @if(!isCheckProduct){
              <div class="d-flex align-items-center justify-content-between mt-3">
                <button class="btn main-btn w-100" (click)="addToCart()">
                  {{productData?.is_preorder == true ? 'Pre Order' : 'Add to Cart'}}
                </button>
              </div>
            } @else if(isCheckProduct) {
              <button class="btn w-100 mt-3 disabled" disabled >
                {{productData?.is_preorder == true ? 'Pre Order' : 'Already in Cart'}}
              </button>
            }

          </div>
        </div>
      </div>
      <div class="col-1"></div>

      <div class="col-12">
        <div class="related-product">
          <!-- Related Products -->
          <div class="swiper related-slider mt-4">
            <h2 class="m-0 main-color fw-bold wow animate__animated animate__fadeInUp">Related Products</h2>
            <swiper-container [config]="swiperPaginationEssentials" init="false" class="swiper-wrapper">
              @for (item of productsRelated; track $index) {
                <swiper-slide class="rounded-4 text-center wow animate__animated animate__fadeInUp my-3 h-100 px-1"> <!--  [style.animationDelay]="($index * 0.2) + 's'" -->
                  <div class="card related-cart overflow-hidden">
                    <div class="position-relative">
                      <img [src]="item?.picture1" [alt]="item?.picture1_alt" class="related-image rounded-0 cr" [routerLink]="'/product/' + item.id"/>
                      <!-- <img [src]="item?.picture2 ? item?.picture2 : item?.picture1" [alt]="item?.picture1_alt" class="offer-img rounded-0" />
                      <img [src]="item?.picture3 ? item?.picture3 : item?.picture3" [alt]="item?.picture1_alt" class="offer-img rounded-0" /> -->
                      <span class="position-absolute d-flex flex-column gap-1 top-0 start-0 p-1">
                        @if (item?.availability == 'In Stock') {
                          <button
                            type="button"
                            class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                            (click)="addToFavorite(item)"
                            [ngClass]="{
                              'btn-success' : isFavorite(item),
                              'bg-light text-success': !isFavorite(item)
                            }"
                          >
                            <i class="main-color"
                              [ngClass]="{
                                'ri-heart-2-fill': isFavorite(item),
                                'ri-heart-2-line': !isFavorite(item)
                              }"></i>
                          </button>

                          <button
                            type="button"
                            class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
                            (click)="addProductRelatedToCart(item)"
                            [ngClass]="{
                              'btn-success' : isCart(item),
                              'bg-light text-success': !isCart(item)
                            }"
                          >
                            <i class="main-color"
                              [ngClass]="{
                                'ri-shopping-cart-fill': isCart(item),
                                'ri-shopping-cart-line': !isCart(item)
                              }"></i>
                          </button>
                        }
                      </span>
                      <span class="position-absolute top-0 end-0 p-1">
                        @if(item?.availability != 'In Stock'){
                          <span class="badge bg-danger text-white fs-13">
                            Sold Out
                          </span>
                        } @else{
                          <span class="badge bg-success text-white fs-13">
                            In Stock
                          </span>
                        }
                      </span>
                      <i class="main-color fade-fave"
                        [ngClass]="{'animate-fade': showFadeAnimation(item)}">
                        <i class="ri-heart-2-fill"></i>
                      </i>

                      <i class="main-color fade-fave"
                        [ngClass]="{'animate-fade': showFadeAnimation(item)}">
                        <i class="ri-heart-2-fill"></i>
                      </i>
                    </div>
                    <div class="card-body px-2 px-sm-3">
                      <div class="d-flex align-items-center gap-2">
                        <div class="text-start">
                          <h6 class="text-dark fw-bold mb-0">{{ item.name.slice(0,30) }}...</h6>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer px-1 px-sm-3 bg-light-subtle d-flex justify-content-between align-items-center border-top" >
                      <p class="fw-medium mb-0 main-color price">
                        {{ item.price | number }} EGP
                      </p>

                      <span class="details-link cr" [routerLink]="'/product/' + item.id">
                        Show Details <i class="ri-arrow-right-line align-middle"></i>
                      </span>

                    </div>
                  </div>
                </swiper-slide>
              }
            </swiper-container>
            <div class="swiper-button-next essentials-next"></div>
            <div class="swiper-button-prev essentials-prev"></div>
            <!-- <div class="swiper-pagination essentials-pagination" id="essentials-pagination" ></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
@if(!token){
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Notifiy Me</button>
        </div>
      </div>
    </div>
  </div>
}
