<section class="game">
  <div class="container py-3">

    <h2 class="text-center pb-2 main-color fw-bold">Reach top 10 to get your discount promocode</h2>

    <div class="game-frame rounded-4 border-1">
      <iframe src="/assets/game.html" class="w-100 h-100 rounded-4"></iframe>
    </div>

    <div class="content mt-3">
      <p class="m-0">Game Directions: </p>
      <p class="m-0">*Put your finger on the green ball and move your finger on the screen trying to avoid the red moving obstacles. </p>
    </div>
  </div>
</section>
