<div class="return-policy my-3">
    <div class="container">
      <div class="bg-white p-3 border-top border-success border-5 rounded-4 shadow-lg">
        <div class="return-info">
          <h2 class="main-color fw-bold">Return Policy</h2>
          <p class="text-muted">
            Within 14 days without giving any reasons or incurring any expenses, and within 30 days if the Product is defective or doesn't conform to the specifications or the purpose for which it was contracted, the method of refunding the amount will be in the same method of payment, with the following conditions.
          </p>

          <div class="text-muted">
            <p>- The necessity of having the original sales invoice with the customer and in his name.</p>

            <p>- The consumer may not claim a right in the following cases if the nature of the product, its specifications ,the method of packing or packaging prevent it from being replaced or returned, or it is impossible to return it to the condition it was in at the time of contracting. if the Product that is manufactured according to special specifications specified by the consumer and the Product conforms to these specifications, the information programs and what they represent.</p>

            <p>-The warranty or the right to return devices and accessories for any reason, including manufacturing defects, does not include damage, breakage, falling into water or misuse of the customer. Please keep the invoice, knowing that no other additional copies can be issued. Keeping the invoice is the responsibility of the customer and he must submit it upon request to obtain after-sales services.</p>
          </div>
        </div>
      </div>
    </div>
</div>
