<div class="wrapper">
  <app-topbar
    (settingsButtonClicked)="onSettingsButtonClicked()"
    (mobileMenuButtonClicked)="onToggleMobileMenu()"
  />

  <app-sidebar />

  <div class="page-content p-0 m-0">

    <div class="py-2">
      <!-- Tabs Sections -->
      <ul class="links list-unstyled d-flex justify-content-center align-items-center gap-1 shadow">
        <li class="list-item cr" routerLink="/home" routerLinkActive="active">Home</li>
        <li class="list-item cr" routerLink="/shop" routerLinkActive="active">Shop</li>
        <li class="list-item cr" routerLink="/brand" routerLinkActive="active">Brands</li>
        <li class="list-item cr" routerLink="/stroe" routerLinkActive="active">Store Locator</li>
        <li class="list-item cr" routerLink="/favorites" routerLinkActive="active">My Favorites</li>
        <li class="list-item cr" routerLink="/game" routerLinkActive="active">Game</li>
        <li class="list-item cr" routerLink="/tvc" routerLinkActive="active">TVC | Loyalty Points</li>
      </ul>

      <router-outlet />
    </div>
    <app-footer />
  </div>
</div>
