<ng-progress
  #progressBar
  [trickleSpeed]="10"
  [speed]="10"
  [spinner]="false"
  [thick]="true"
  color="#81FB37"
  [ease]="'linear'"
></ng-progress>

<ngx-spinner
  bdColor="rgba(0, 0, 0)"
  size="medium"
  color="#fff"
  [fullScreen]="true">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <img src="assets/images/home-image/logo.avif" class="w-100" alt="XPRS">
    <img src="assets/images/global-image/load.gif" alt="XPRS">
  </div>
</ngx-spinner>

<router-outlet />
