<div class="faqs-policy my-3">
    <div class="container">
      <div class="bg-white p-3 border-top border-success border-5 rounded-4 shadow-lg">
        <div class="faqs-info">
          <h2 class="main-color fw-bold">FAQS</h2>

          <h5 class="main-color mb-2 m-0">Is the product I'm looking for in stock and available?</h5>
          <p class="text-muted">You will be able to tell on the product page whether or not a product is in stock and available, as the availability of the product will be listed as ‘’In Stock’’</p>

          <h5 class="main-color mb-2 m-0">What are your return policies?</h5>
          <p class="text-muted">We offer a 30 day money back guarantee with 100% satisfaction guaranteed. We will be happy to refund or exchange unopened products within 30 days.</p>

          <h5 class="main-color mb-2 m-0">When will I receive my order?</h5>
          <p class="text-muted">Most of our products are delivered within 2-3 days in Cairo & Giza. appliances may take up to 4 weeks for delivery.</p>

          <h5 class="main-color mb-2 m-0">What is covered by your 1 year warranty?</h5>
          <p class="text-muted">Our 1 year warranty extends the full manufacturer's warranty.</p>

          <h5 class="main-color mb-2 m-0">Is express shipping available?</h5>
          <p class="text-muted">Express shipping is not available as of yet, but you must make sure that we will deliver the order as soon as we can.</p>

          <h5 class="main-color mb-2 m-0">How do I get service on a Product I purchased from your store?</h5>
          <p class="text-muted">Service is available for items under warranty from the manufacturer. Please contact the manufacturer or visit us in one of our store to assist.</p>

          <h5 class="main-color mb-2 m-0">Can I purchase an item I saw at your retail location that is not on your website?</h5>
          <p class="text-muted">Of course! Please call 19857 to reserve it.</p>

          <h5 class="main-color mb-2 m-0">Can I redeem a coupon with you online?</h5>
          <p class="text-muted">Yes. Coupons can be redeemed at checkout.</p>

          <h5 class="main-color mb-2 m-0">Do you deliver to my location?</h5>
          <p class="text-muted">We deliver everywhere in Egypt.</p>

          <h5 class="main-color mb-2 m-0">Do you have warranties?</h5>
          <p class="text-muted">Yes, 1Year Warranty against manufacturing defects.</p>

          <h5 class="main-color mb-2 m-0">Do you offer builder discounts?</h5>
          <p class="text-muted">Call 19857 for a quote. We will be happy to work with you.</p>

          <h5 class="main-color mb-2 m-0">Is Instalment available longer than 6 months?</h5>
          <p class="text-muted">At this time we do not offer financing greater than 6 months.</p>

          <h5 class="main-color mb-2 m-0">How do your brands compare?</h5>
          <p class="text-muted">We stand by the value and quality of all of our brands.</p>

          <h5 class="main-color mb-2 m-0">Do you match prices with other retailers?</h5>
          <p class="text-muted">We try to have the best prices available for the best products.</p>

          <h5 class="main-color mb-2 m-0">Are phone or internet orders bette?</h5>
          <p class="text-muted">Ordering online is a quicker process but either way you will get your products in a timely manner.</p>

          <h5 class="main-color mb-2 m-0">Do you sell refurbished products?</h5>
          <p class="text-muted">We only sell new products straight from the manufacturer, in the box. Even our overstock items are new and in box.</p>

          <h5 class="main-color mb-2 m-0">Where are you located?</h5>
          <p class="text-muted">Find the below link for store locations - <a class="main-color" target="_blank" href="https://www.myxprs.com/stores">https://www.myxprs.com/stores</a></p>
        </div>
      </div>
    </div>
</div>
