<div class="privacy-policy my-3">
    <div class="container">
      <div class="bg-white p-3 border-top border-success border-5 rounded-4 shadow-lg">
        <div class="privacy-info">
          <h2 class="main-color fw-bold">Privacy Policy</h2>
          <p class="text-muted m-0 mb-3">
            Customer privacy is a major priority at XPRS, and we take great care to protect your information. The XPRS Privacy Policy lays out the ways in which we gather and protect information, and how you can control your personal information.
          </p>

          <h5 class="main-color m-0 mb-1 fw-bold">Collection</h5>
          <p class="text-muted m-0 mb-3">- we may collect information directly from you. This could be as part of your interactions with XPRS personnel, such as at our retail stores or when you provide information via our digital properties such as websites.</p>

          <h5 class="main-color m-0 mb-1 fw-bold">Use</h5>
          <p class="text-muted m-0 mb-2">- We will use your information to meet your expectations and give you a great experience with XPRS. For example, that could be to fulfill a purchase, provide a service, make our digital properties run better, or maintain our My XPRS program.</p>
          <p class="text-muted m-0 mb-3">- You’ve probably seen in the news that the world (especially the internet) has too many fraudsters, hackers, and criminals. We use information we collect to protect our customers, XPRS, and others from such bad actors.</p>

          <h5 class="main-color m-0 mb-1 fw-bold">Sharing</h5>
          <p class="text-muted m-0">- If you post something on a public forum on one of our digital properties, it should come as no surprise to you that it may be viewed by the general public.</p>
          <p class="text-muted m-0 my-2">- We may share your personally identifiable information with suppliers or business partners to fulfill your requests or perform on our behalf a contract that we have with you.</p>

          <p class="text-muted m-0">- Sometimes we share information with suppliers and business partners for internal XPRS uses. The easiest examples of what we mean by this relate to information technology — they may be processing personally identifiable information, but we make sure we have contracts in place requiring that they only use the information in support of XPRS.</p>
        </div>
      </div>
    </div>
</div>
