<section class="order" id="order">
  <div class="container">
    <div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center border-bottom" >
        <div class="d-flex justify-content-between align-items-center w-100">
          @if(!shippingCheck){
            <h4 class="card-title">All Order List</h4>
            <button class="btn main-btn" (click)="showShipping(true)">Shipping & Delivery instructions</button>
          } @else {
            <h4 class="card-title">Shipping & Delivery instructions</h4>
            <button class="btn main-btn" (click)="showShipping(false)">All Orders</button>
          }
        </div>
      </div>

      @if(!shippingCheck){
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table align-middle text-nowrap table-hover table-centered mb-0" >
              <thead class="bg-light-subtle">
                <tr>
                  <!-- <th style="width: 20px">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        id="customCheck1"
                      />
                      <label class="form-check-label" for="customCheck1"></label>
                    </div>
                  </th> -->
                  <th>Order Id</th>
                  <th>Product(s)</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Paid</th>
                </tr>
              </thead>
              <tbody>
                @for (item of allOrders; track $index) {
                  <tr>
                    <td>{{ item.id }}</td>
                    <td>
                      @for(product of item.orderproducts; track $index){
                        <div class="d-flex align-items-center gap-2">
                          <div>
                            <img
                              [src]="product.picture"
                              alt=""
                              class="avatar-sm rounded-circle"
                            />
                          </div>
                          <div>
                            <a
                              href="javascript:void(0);"
                              class="text-dark fw-medium fs-15"
                              >{{ product.product.name }}</a>
                            <a
                              href="javascript:void(0);"
                              class="text-dark fs-10"
                              >{{ product.product.category }}</a>
                            <a
                              href="javascript:void(0);"
                              class="text-dark fs-10"
                              >{{ product.product.total }} EGP</a>
                          </div>
                        </div>
                      }

                    </td>
                    <td>{{ item.date_placed | date}}</td>
                    <td>{{ item._address }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.status }}</td>
                    <td>
                      <span
                        class="badge text-white fs-11"
                        [ngClass]="
                          item.paid == true ? 'bg-success' : ''"
                        >{{ item.paid ? "Paid" : "Pending" }}</span
                      >
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>

        <div class="card-footer border-top">
          <nav aria-label="Page navigation example">
            <ngb-pagination
              [collectionSize]="30"
              [page]="1"
              class="pagination justify-content-end mb-0"
            >
              <ng-template ngbPaginationPrevious>Previous</ng-template>
              <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
          </nav>
        </div>
      } @else {
        @for (q of shippingData; track $index) {
          <div class="px-3 pt-2">
            <h4 class="main-color fw-bold" [innerHTML]="q?.title"></h4>
            <p [innerHTML]="q?.description"></p>
          </div>
        }
      }

    </div>
  </div>
</div>
  </div>
</section>
