//
// _footer.scss
//
.main-footer{
  background-color: #1C252E;
  .footer-logo{
    width: 200px;
  }
  .list-group-item{
    padding: 0;
    border: 0;
  }
  .social-links {
    .icon{
      width: 35px;
      height: 35px;
      line-height: 35px;
      transition: all .5s;
      i{
        font-size: 20px;
        color: #fff;
      }
      &:hover{
        background-color: #81FB37;
        box-shadow: 0 0 10px #81FB37;
        i{
          color: #000;
        }
      }
    }
  }
}
// .footer {
//     bottom: 0;
//     right: 0;
//     left: 0;
//     position: absolute;
//     display: flex;
//     align-items: center;
//     padding: 0 calc(#{$spacer} * 0.5);
//     color: $footer-color;
//     height: $footer-height;
//     border-top: $card-border-width solid $card-border-color;
// }

// .footer-text {
//     background: linear-gradient(to right, $primary 10%, $warning 50%, $success 60%);
//     background-size: auto auto;
//     background-clip: border-box;
//     background-size: 200% auto;
//     background-clip: text;
//     text-fill-color: transparent;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: textclip 2.5s linear infinite;
//     display: inline-block;
// }

// @keyframes textclip {
//     to {
//         background-position: 200% center;
//     }
// }
