<div class="shipping-policy my-3">
    <div class="container">
      <div class="bg-white p-3 border-top border-success border-5 rounded-4 shadow-lg">
        <div class="shipping-info">
          <h2 class="main-color fw-bold">Shipment Processing time</h2>

          <div class="text-muted">
            <p class="m-0 mb-2">- Orders are processed within 2-3 business days.</p>

            <p class="m-0 mb-2">- We operate from Sunday to Thursday.</p>

            <p class="m-0 mb-2">- Orders placed on Friday/Saturday and official holidays will be processed the next working day.</p>

            <p class="m-0 mb-2">- It may take longer for your order to be processed during busy periods such as the holiday season.</p>
          </div>

          <h5 class="main-color fw-bold mb-2 mt-3">Shipping rates</h5>
          <p class="m-0 mb-2">- Delivery on all orders cost 75EGP (inc VAT). We sometimes offer free shipping for specific shipping options in select categories.</p>
        </div>
      </div>
    </div>
</div>
